{% extends 'panel-base.html' %}
{% block sidebar %}
            {% include 'fdsadmin/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'fdsadmin-index' %}">Home</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'fdsadmin-donors' %}">Donors</a></li>
                            <li class="breadcrumb-item active">Foods</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
    <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">

                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Food Title</th>
                                                <th>Food Type</th>
                                                <th>Quantity</th>
                                                <th>Preparation Date</th>
                                                <th>Post Date</th>
                                                <th>Status</th>
                                                <th>Delivred At</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>11" Pizza</td>
                                                <td>Fast Food</td>
                                                <td>3 People</td>
                                                <td>2018-05-12</td>
                                                <td>2018-05-13</td>
                                                <td><i class="btn-outline-primary mdi mdi-check"> Picked</i></td>
                                                <td>NAN</td>

                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Alu Matar</td>
                                                <td>Regular Food</td>
                                                <td>4 People</td>
                                                <td>2018-05-12</td>
                                                <td>2018-05-13</td>
                                                <td><i class="btn-outline-warning mdi mdi-timer"> New Entry</i></td>
                                                    <td>NAN</td>
                                            </tr>
                                        <tr>
                                                <td>3</td>
                                                <td>Chicken Bhindi</td>
                                                <td>Regular Food</td>
                                                <td>2 People</td>
                                                <td>2018-05-12</td>
                                                <td>2018-05-14</td>
                                                <td><i class="btn-outline-success mdi mdi-check-all"> Delivered</i></td>
                                                  <td>Faisal Town Branch</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =============================
                <!-- Button trigger modal -->



{% endblock %}