{% extends 'panel-base.html' %}
{% block sidebar %}
            {% include 'fdsadmin/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'fdsadmin-index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Manage Account</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
    <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Account Management</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Address</th>

                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for donor in donors %}

                                            <tr>

                                                <td>{{ donor.name }}</td>
                                                <td>{{ donor.user.email }}</td>
                                                <td>{{ donor.address }}</td>




                                                     <td>
                                                    {% if donor.user.is_active %}
                                                    <button onclick="block_user('{{ donor.user.username }}')"  data-toggle="modal" data-target="#block" class="btn btn-primary"><i class="fa fa-check-o"></i> Block</button>
                                                         {% endif %}
                                                    {% if not donor.user.is_active %}
                                                    <a href="{% url 'unblock-account' donor.user.username %}"  class="btn btn-primary"><i class="fa fa-check-o"></i> Unblock</a>
                                                         {% endif %}

                                                    <button onclick="delete_user('{{ donor.user.username }}')" data-toggle="modal" data-target="#delete" class="btn btn-primary"><i class="fa fa-check-o"></i> Delete</button>
                                                </td>

                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =============================
                <!-- Button trigger modal -->

    <!-- Modal -->
<div class="modal fade" id="block" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <h3>Are you sure you want to Block Account it?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="#" id="bLink" type="button" class="btn btn-danger">Block</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p><b style="color: red">Warning: </b>If you delete this user all the coresponding data will be lost permanently.</p>
            <h3>Are you sure you want to Delete Account it?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="#" id="dLink" type="button" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<script>
function block_user(username) {
    //console.log(username)
    var link='/fdsadmin/block-user/'+username
    $('#bLink').attr('href',link)
}
function delete_user(username) {
    //console.log(username)
    var link='/fdsadmin/delete-user/'+username
    $('#dLink').attr('href',link)
}
</script>
{% endblock %}