{% extends 'panel-base.html' %}
{% block sidebar %}
            {% include 'fdsadmin/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'fdsadmin-index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Feedback</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
    <!-- Start Page Content -->
                <!-- ============================================================== -->
                 <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">All comments</h4>
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Comment</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for feedback in feedbacks %}
                                            <tr>

                                                <td>{{ feedback.full_name }}</td>
                                                <td>{{ feedback.email }}</td>
                                                <td>{{ feedback.comment }}</td>



                                                <td>

                                                <a href="#"   class="btn btn-primary"><i class="fa fa-check-o"></i>Delete</a>

                                                   <a href="#" data-toggle="modal" data-target="#reply" onclick="message({{ feedback.id }})"  class="btn btn-primary"><i class="fa fa-check-o"></i>Reply</a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =============================
                <!-- Button trigger modal -->

<div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <h3>Reply to comment</h3>
        <form method="post" id="myForm" >
            {% csrf_token %}
            <input id="feedMsg" name="feedMsg" hidden>
          <textarea class="form-control form-control-line" id="msg" name="msg">

          </textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="sendBtn" onclick="sendReply()" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
<script>
function message(id) {
document.getElementById('feedMsg').value=id
    //document.getElementById('myForm').submit()
}
function sendReply() {
    document.getElementById('myForm').submit()
}
</script>
{% endblock %}