{% extends 'panel-base.html' %}

{% load static %}
{% block sidebar %}
            {% include 'fdsadmin/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'fdsadmin-index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Profile Update</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
 <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> <img src="{% static 'Panel/assets/images/users/Capture.PNG' %}" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">javaid</h4>
{#                                    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>#}
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link">Donations: 254</a></div>

                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card" style="left: 168px;
                          margin-right: 338px;
                          border-bottom-width: 30px; background-color: white;">
                            <div class="card-block" style="margin-left: 32px;
                              padding-right: 34px; color: black;">
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">First Name</label>
                                        <div class="col-md-12">
                                            <input type="text"  placeholder="Javaid " class="form-control form-control-line">
                                        </div>
                                        <label class="col-md-12">Last Name</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Tufail " class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input type="email" placeholder="jeydogar@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Confirm Password</label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-12">Phone No</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-12">CNIC</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="35101-4356389-8" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Country</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Pakistan" class="form-control form-control-line">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">City</label>
                                        <div class="col-md-12">
                                            <input type="ciyt" placeholder="Lahore" class="form-control form-control-line">

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12"> Address</label>
                                        <div class="col-md-12">
                                            <textarea rows="2" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Gender</label>
                                        <div class="col-md-12">
                                            <select class="form-control form-control-line ">
                                                <option>--Select--</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
{% endblock %}