{% extends 'panel-base.html' %}
{% block sidebar %}
            {% include 'fdsadmin/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'donor-index' %}">Home</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'fdsadmin-volunteers' %}"> volunteers</a></li>
                             <li class="breadcrumb-item active"> PickUps</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
    <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">All Pickups by {{ volunteer.name }}</h4>
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Food Title</th>
                                                <th>Quantity</th>
                                                <th>Date</th>

                                                <th>Status</th>
                                                <th>Delivred At</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for food in pickups %}
                                            <tr>

                                                <td>{{ food.food_title }}</td>
                                                <td>{{ food.food_type }}</td>
                                                <td>{{ food.quantity }} People</td>
                                                <td>{{ food.preparation_date }}</td>
                                                <td>{{ food.post_date }}</td>
                                                <td>
                                                    {% if food.status == "Picked" %}
                                                    <i class="btn-outline-primary mdi mdi-check"> {{ food.status }}</i>
                                                    {% endif %}
                                                    {% if food.status == "New Entry" %}
                                                    <i class="btn-outline-warning mdi mdi-timer"> {{ food.status }}</i>
                                                    {% endif %}{% if food.status == "Delivered" %}
                                                    <i class="btn-outline-success mdi mdi-check-all"> {{ food.status }}</i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ food.delivered_at }}</td>

                                            </tr>
                                        {% endfor %}

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =============================
                <!-- Button trigger modal -->



{% endblock %}