{% extends 'panel-base.html' %}


{% block sidebar %}
            {% include 'volunteer/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'volunteer-index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Map</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Locations</h4>
                                <div id="googleMap" class="gmaps"></div>
                            </div>
                        </div>
                    </div>
                </div>
    <script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUBL-6KdclGJ2a_UpmB2LXvq7VOcPT7K4&callback=myMap"></script>
{% endblock %}