{% extends 'base.html' %}
{% load static %}

{% block main %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet"/>
    <style>

footer{
	padding:2.5%;
	margin-top:289px;
	color:#ffffff;
	background-color: #66CDAA;
	text-align:center;
}
    </style>
	<article id="main-col">
	<h1 style="color:black;">About us</h1>
	<p class="dark">Welcome to the Food Donor - Here the Food Donor app provides our donors ease and efficient way to donated leftover
food,instead of littering or wasting<br/><br/>

      Say  "NO" to waste<br/><br/>

Its time to change,to donate food for the sake of virtue, for the sake of healthy and happy environment!<br/><br/>
        " WE WERE BORN WITH THE ABILITY TO CHANGE SOMEONE'S LIFE-
         DON'T EVER WASTE IT."<br/><br/>

                                   Dale Partridge

</p>

        <img src="{% static "images/Food-Leftovers-Trash-Throw-Away.jpg" %}" style="height: 226px; width: 417px"  >
     <img src="{% static "images/Food _Handoff.png" %}" style="height: 226px; width: 455px"  >



</article>

    <div class="container">
    <img src="{% static "images/images.png" %}" style="margin-top: 65px; width: 351px; height: 266px; margin-left: 16px"  >
</div>

<!--<aside id="sidebar">

	<div class="dark">

	<p>" WE WERE BORN WITH THE ABILITY TO CHANGE SOMEONE'S LIFE-
         DON'T EVER WASTE IT."<br/><br/>

                                   Dale Partridge</p>

	</div>
</aside>-->




{% endblock %}
