{% extends 'base.html' %}
{% load static %}

{% block main %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet"/>
    <style>

footer{
	padding:2.5%;
	margin-top:40%;
	color:#ffffff;
	background-color: #66CDAA;
	text-align:center;
}
    </style>
	<article id="main-col">
	<h1 style="color:black;">About us</h1>
	<p class="dark">Welcome to the Food Donor - Here the Food Donor app provides our donors ease and efficien way to onated leftover
food,instead of littering or wasting<br/><br/>

      Say  "NO" to waste<br/><br/>

Its time to change,to donate food for the sake of virtue, for the sake of healthy and happy environment!
</p>

</article>
<aside id="sidebar">
<h3 style="color:black;">Who we Are</h3>
	<div class="dark">

	<p>Board of Directors:

Dale Allender, Director of the National Council of Teachers of English, former Executive Director of the Bay Area Teachers Center

John Fox, Partner, Fox Wang & Morgan

Varsha Shah, Senior Manager, Compliance, eBay

Kiran Sridhar, Founder and Executvie Director of Waste No Food

Sudha Sarma, Chief Operating Officer, Waste No Food</p>

	</div>
</aside>




{% endblock %}
