{% extends 'panel-base.html' %}
{% block sidebar %}
            {% include 'donor/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active"></li>
                        </ol>
                    </div>

                </div>
{% endblock %}

{% block main %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
{#    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
     <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap">
                                            <div>
                                                <h3 class="card-title">Donations Overview</h3>
                                                <h6 class="card-subtitle">Donations per Date</h6> </div>
                                            <div class="ml-auto">
                                                <ul class="list-inline">
                                                    <li>
                                                        <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Fast Food</h6> </li>
                                                    <li>
                                                        <h6 class="text-muted  text-info"><i class="fa fa-circle font-10 m-r-10"></i>Regular Food</h6> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

<div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>
                                        <div hidden id="fast-food">{{ fast }}</div>
                                        <div hidden id="regular-food">{{ regular }}</div>
<script>
    var fastData=JSON.parse(document.getElementById('fast-food').innerText)
    var regularData=JSON.parse(document.getElementById('regular-food').innerText)

    var timeFormat = 'YYYY-MM-DD';

    var config = {
        type:    'line',
        data:    {
            datasets: [
                {
                    label: "Fast Food",
                    data: fastData,
                    fill: false,
                    borderColor: '#26C6DA'
                },
                {
                    label: "Regular Food",
                    data:  regularData,
                    fill:  false,
                    borderColor: '#1E88E5'
                }
            ]
        },
        options: {
            responsive: true,
            title:      {
                display: true,
                text:    "Daily Donation Summary"
            },
            scales:     {
                xAxes: [{
                    type:       "time",
                    time:       {
                        format: timeFormat,
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display:     true,
                        labelString: 'Donations'
                    }
                }]
            }
        }
    };

    window.onload = function () {
        var ctx       = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
    };

</script>


{#                                        <div class="amp-pxl" style="height: 360px;"></div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}