{% extends 'panel-base.html' %}


{% block sidebar %}
            {% include 'donor/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'donor-index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Map</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block">
                                <form method="post">
                                    {% csrf_token %}
                                <h4 class="card-title">Your current Location: <span style="color: green" id="location"></span></h4>
                                <button disabled id="btn" class=" btn btn-outline-success"><i class="fa fa-location-arrow"></i> Save your Location</button><br>
                                <div id="map" class="gmaps"></div>

                                <input hidden id="lat1" name="lat">
                                <input hidden id="lang1"  name="lang">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            $('#lat1').val(pos.lat)
            $('#lang1').val(pos.lng)

            var marker=new google.maps.Marker({
            position:pos,
            map:map,
            title:"My Location"
        })
            $('#btn').removeAttr('disabled')
              $('#btn').attr('class','btn btn-primary')
              var geocoder = new google.maps.Geocoder;
            geocoder.geocode({
    'location': pos
  }, function(results, status) {
    if (status === 'OK') {
      if (results[0]) {

        //This is yout formatted address
          $('#location').html(results[0].formatted_address)
        //window.alert(results[0].formatted_address);

      } else {
        window.alert('No results found');
      }
    } else {
      window.alert('Geocoder failed due to: ' + status);
    }
  });
            console.log("Possition",pos)
            infoWindow.setPosition(pos);
            infoWindow.setContent('My current Location.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);

      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOYNTVN-u5939noX6l8rkEgyDhQDTEIQw&callback=initMap">
    </script>


{#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOYNTVN-u5939noX6l8rkEgyDhQDTEIQw&callback=myMap"></script>#}
{% endblock %}