{% extends 'panel-base.html' %}

{% load static %}
{% block sidebar %}
            {% include 'donor/sidebar.html' %}
        {% endblock %}
{% block bradcrump %}
    <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">HOME</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'donor-index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Profile Update</li>
                        </ol>
                    </div>

                </div>
{% endblock %}
{% block main %}
 <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30">
                                    {% if not user1.is_approved %}
                                        <small style="color: red">Account Not approved Yet</small>
                                    {% endif %}
                                </center>
                                <center class="m-t-30">
                                    {% if user1.image %}
                                        <img src="{{ user1.image.url }}" class="img-circle" width="150" />
                                    {% endif %}
                                {% if not user1.image %}
                                    <img src="{% static 'images/Student-64.png' %}" class="img-circle" width="150" />
                                {% endif %}
                                    <h4 class="card-title m-t-10">{{ user1.name }}</h4>
{#                                    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>#}
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link">Donations: {{ donations }}</a>

                                          </div>



                                    </div>
                                </center>
                            <center>
                            <a href="{% url 'change_password' %}"><i class="mdi mdi-key"></i> Change Password</a>
                            </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card" style=" background-color: white;">
                            <div class="card-block" style="margin-left: 32px;
                              padding-right: 34px; color: black;">
                                <small style="color: green">{{ msg }}</small>
                                <form method="post" enctype="multipart/form-data" class="form-horizontal form-material">

                                     {% csrf_token %}
                                   {% include 'form.html' %}

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
{% endblock %}