{% load static %}

{% block sidebar %}
<!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="{% url 'donor-index' %}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Home</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'donor-profile' %}" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">update Profile</span></a>
                        </li>

                        <li> <a class="waves-effect waves-dark" href="{% url 'donor-foods' %}" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Food List</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'donor-map' %}" aria-expanded="false"><i class="mdi mdi-earth"></i><span class="hide-menu">See the Location</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'donor-rating' %}" aria-expanded="false"><i class="mdi mdi-star"></i><span class="hide-menu">Rating the App</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'donor-feedback' %}" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Feedback</span></a>
                        </li>
{#                        <li> <a class="waves-effect waves-dark" href="{% url 'donor-term-policy' %}" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Term Policy</span></a>#}
{#                        </li>#}
                       <!-- <li>
                        <div class="dropdown">
                            <a class="waves-effect waves-dark" href="#" data-toggle="dropdown"  aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu"> Setting</span></a>

{#                          <button class="waves-effect btn waves-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Setting</span>#}
{#                          <span class="caret"></span></button>#}
                          <ul class="dropdown-menu">
                            <li><a class="waves-effect waves-dark" href="{% url 'donor-profile' %}">Profile update</a></li>
                            <li><a class="waves-effect waves-dark" href="{% url 'donor-rating' %}">Rating the app</a></li>
                            <li><a class="waves-effect waves-dark" href="{% url 'donor-feedback' %}">Feedback</a></li>
                          </ul>
                        </div>
                        </li>-->
                    </ul>


                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->

            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

{% endblock %}
