{% extends 'base.html' %}
{% load static %}

{% block main %}
   <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <style>

footer{
	padding:2.5%;
	margin-top:40%;
	color:#ffffff;
	background-color: #66CDAA;
	text-align:center;
}
    </style>

<div class="loginbox">
        <img src="{% static "images/LoginIconAppl.png" %}" class="login" >

		<h1>Login Here</h1>
    <small style="color: red">{{ err }}</small>
    <small style="color: red">{{ msg }}</small>
        <form method="post">
            {% csrf_token %}
         	<p>User Name</p>
         	<input type="text" name="username" placeholder="Enter User Name">
         	<p>Password</p>
         	<input class="form-control" type="password" name="password" placeholder="Enter Password">
         	<input class="form-control" type="submit" name="" value="Login">
        </form>


	</div>





{% endblock %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <meta name="description" content="Afforable and profession web design">
   <meta name="keywords" content="web design, Afforable web design, profession web design">
   <meta name="author" content="Brad Traversy">
    <link href="{% static 'css/homes.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
<title>Login Form</title>
</head>
<body>

  <header>
      <div class="container">
         <div id="branding">
            <img src="{% static "images/Capture.PNG" %}" width="200" height="60" >
         </div>
      </div>
   </header>

	<div class="loginbox">
        <img src="{% static "images/LoginIconAppl.png" %}" class="login" >

		<h1>Login Here</h1>

         	<p>Email</p>
         	<input type="text" name="email" placeholder="Enter Email">
         	<p>Password</p>
         	<input class="form-control" type="Password" name="password" placeholder="Enter Password">
         	<input class="form-control" type="submit" name="" value="Login">
         	<a href="#">Lost your password?</a><br>
         	<a href="#">Don't have an account?</a>


         </form>
	</div>

</body>
</html>