{% extends 'base.html' %}
{% load static %}

{% block main %}
   <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <style>

footer{
	padding:2.5%;
	margin-top:40%;
	color:#ffffff;
	background-color: #66CDAA;
	text-align:center;
}
    </style>

<div class="loginbox">
        <img src="{% static "images/LoginIconAppl.png" %}" class="login" >

		<h1>Login Here</h1>
    <small style="color: red">{{ err }}</small>
    <small style="color: red">{{ msg }}</small>
        <form method="post">
            {% csrf_token %}
         	<p>User Name</p>
         	<input type="text" name="username" placeholder="Enter User Name">
         	<p>Password</p>
         	<input class="form-control" type="password" name="password" placeholder="Enter Password">
         	<input class="form-control" type="submit" name="" value="Login">
        </form>


	</div>





{% endblock %}

